@import "../common/_vars.scss";

.to-do-list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 20px 30px;

  &__heading {
    font-weight: 700;
    font-size: 28px;
  }

  &__btn {
    text-transform: uppercase;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    background-color: $main-orange;
    border: none;
    border-radius: 7px;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: $hover-orange;
    }
  }
}