@import "./_vars.scss";
@import "./_font.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Monserrat', Arial, sans-serif;
  color: $title-text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  height: 100%;
  padding: 162px 15px;
  background: radial-gradient(farthest-corner at center, #252E42 15%, #161C2E 70%) center center/150% 150%;
  animation: shine 3s linear infinite alternate;

  @media (max-width: 768px) { 
    padding: 100px 15px;
  }

  @keyframes shine {
    0% {
      background-position: center;
    }
    50% {
      background-position: right;
    }
    to {
      background-position: left;
    }
   }
}